.work-view
	width: 100%
	text-align: center
	position: relative
	overflow-x: hidden
	min-height: calc(100vh - 25px)
	font-size: 2em
	color: rgba(255, 215, 21, 0.63)

.title-view
	position: relative
	top: 44%

.info-list
	list-style: none

.info-item
	margin-bottom: 50