.carousel-window
	width: 100%

.carousel-wrapper
	display:  flex

.navigation-wrapper
	background-color: #FFFFFF
	text-align: center

	.carouselNavigator
		@include rectangle(14px, 14px, #264026, 10px)
		&.active
			@include rectangle(16px, 16px, #159715, 10px)

.slide
	background-color: #a812b9
	width: 100px

.hidden
	display: none