.carousel-window
	width: 100%

.carousel-wrapper
	display:  flex

.navigation-wrapper
	background-color: #FFFFFF
	text-align: center

	.carousel-navigator

.slide
	background-color: #a812b9
	width: 100px

.hidden
	display: none