@mixin rectangle($diameter, $margin, $color: '', $radius: '')
	width:  $diameter
	height: $diameter
	margin-right: $margin
	margin-left: $margin
	@if($color != '')
		background-color: $color
	@if($radius != '')
		border-radius: $radius